streamlit
pillow
numpy
pandas
matplotlib
opencv-python-headless
supabase
python-dotenv

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Computer vision / person detection
ultralytics